@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,300&display=swap");
body{
    margin: 0px;
}

#main{
    background: linear-gradient( to right bottom, rgb(86 235 245), rgb(21 230 220 / 30%));
    height: 100vh;
    width: 100vw;
}
.topnav {
    /* background: radial-gradient(
      circle,
      rgba(32, 216, 230, 1) 0%,
      rgba(31, 242, 236, 1) 0%,
      rgba(173, 234, 237, 1) 100%
    ); */
    border-bottom: 1px solid rgb(49, 53, 53);
    width: 100%;
    margin-top: 0px;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;    font-weight: 400;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* margin-bottom: 3rem; */
  }
  
  .topnav a {
    float: right;
    padding: 5px;
    color: #000000;
    text-align: center;
    padding: 22px 30px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #3f3d5688;
    color: rgb(255, 255, 255);
  }
  
  .topnav a.active {
    background-color: #3f3d56;
    color: white;
  }

  #logo {
    margin: 1.2rem 49.6rem 1.2rem 1.5rem;
    color: #3f3d56;
  }

  #glass {
    background: linear-gradient( to right bottom, rgb(240 242 242 / 71%), rgb(249 249 249 / 53%));
    width: 42%;
    /* height: 42vh; */
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0rem 2rem 0rem 2rem;
    
  }

  #heading{
      text-align: center;
      font-size: 45px;
      font-family: 'Poppins', sans-serif;      
      color: #121829;
      margin: 14px;
  }

  #subhead{
    text-align: left;
      font-size: 25px;
      font-family: 'Poppins', sans-serif;      
      color: #121829;
      margin-left: 2rem;
      margin-bottom: 1rem;
  }

  a{
    text-decoration: none;
    color: black;
  }

  a:hover{
    /* text-decoration: underline; */
    color: blue;
  }


  #maindiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
  }
  
  .dp {
    margin: 0.5rem;
    width: 100px;
    height: 100px;
    /* width: 8.5rem; */
    /* height: 8.5rem; */
    align-self: center;
    border-radius: 50%;
  }

  #lk{
    width: 20px;
    height: 20px;
    margin: 5px;
    margin-right: 8px;
  }
  
  .appbox {
    display: flex;
    flex-direction: column;
    align-content: center;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    transition-timing-function: cubic-bezier(0, 0.23, 0.73, 1.03);
    margin: 1rem;
    border-radius: 0.6rem;
    width: 10.5rem;
    height: 10rem;
    background: linear-gradient(180deg, rgb(255, 255, 255), #a4d5f127);
  }
  
  #athar{
    box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.2);

  }

  #sudt{
      font-size: 13px;
  }

  #ak{
    margin: 0.5rem;
  }
  .appbox:hover {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: rgba(195, 239, 245, 0.534);
    transform: scale(1.03);
  }
  
  .applogo {
    align-self: center;
  }
  
  .apptext {
    font-family: 'Poppins', sans-serif;    
    border-top: 1px solid rgba(189, 186, 186, 1);
    font-size: 13px;
    text-align: center;
    color: rgb(44, 44, 44);
    display: flex;
    justify-content: center;
    align-items: center;

  }

  #credits{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(10, 142, 250);
    font-family: 'Poppins', sans-serif;  
    font-weight: 300;
  
  }

 #abstract{
   font-family: 'Poppins';
   /* padding: 30px 10px 20px 10px; */
   margin: 20px 30px 10px 30px;
   text-align: justify;

 }