@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,300&display=swap');

body {
    margin: 0px;
    padding: 0px;
  }
  
  .main {
    height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    background: linear-gradient( to right bottom, rgb(28 237 237 / 71%), rgb(48 245 227 / 53%));
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
  }
  
  .topnav {
    /* background: radial-gradient(
      circle,
      rgba(32, 216, 230, 1) 0%,
      rgba(31, 242, 236, 1) 0%,
      rgba(173, 234, 237, 1) 100%
    ); */
    border-bottom: 1px solid rgb(49, 53, 53);
    width: 100%;
    margin-top: 0px;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;    
    font-weight: 400;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  
  .topnav a {
    float: right;
    padding: 5px;
    color: #000000;
    text-align: center;
    padding: 22px 30px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #3f3d5688;
    color: rgb(255, 255, 255);
  }
  
  .topnav a.active {
    background-color: #3f3d56;
    color: white;
  }
  
  #logo {
    margin: 1.2rem 45.1rem 1.2rem 1.5rem;
    color: #3f3d56;
  }
  
  #glass {
    background: rgb(131, 128, 128);
    min-height: 60vh;
    width: 40%;
    margin-top: 8.7rem;
    background: linear-gradient(
      to right bottom,
      rgb(255, 255, 255),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10rem;
  }
  
  #user {
    height: 8rem;
    width: 8rem;
    position: absolute;
    left: 41%;
    bottom: 88%;
    border-radius: 50%;
    box-shadow: 0px 2px 11px 0px #20d5d5;
  }

  .title {
    font-size: 25px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;    text-align: center;
    width: 90%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: 20px 25px;
    margin-bottom: 10px;
    color: rgb(19, 59, 65);
    background-color: rgba(112, 222, 230, 0.911);
  }
  
  .wrapper {
    background: rgba(255, 255, 255, 0.26);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 2rem;
    height: 40vh;
    width: 80%;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    font-family: 'Poppins', sans-serif;
  
  }
  
  .wrapper:hover {
    box-shadow: 2px 0px 20px 11px rgb(148 250 250 / 78%);
    /* transform: scale(1.01); */
  }
  
  .wrapper:active {
    border: grey;
  }
  
  input {
    padding: 8px;
    border: 0px solid rgb(39, 235, 235);
    margin: 4px;
    margin-top: 15px;
    border-radius: 50px;
    align-self: center;
    font-family: 'Poppins', sans-serif;    font-size: 14px;
  }
  
  textarea:focus,
  input:focus {
    color: #063030;
    border: none;
    box-shadow: 1px 2px 4px rgb(150, 202, 202);
    outline: none;
  }
  
  .field {
    font-weight: 500;
    font-size: 15px;
  }
  
  #btn {
    width: 40%;
    padding: 10px;
    border: 2px solid rgb(144, 230, 236);
    border-radius: 2rem;
    background-color: rgba(112, 222, 230, 0.911);
    margin-top: 2rem;
    display: block;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
  }
  
  label {
    display: inline-block;
    width: 130px;
    font-size: 17px;
    font-weight: 400;
  }
  
  #btn:hover {
    background-color: rgba(31, 236, 247, 0.911);
    box-shadow: 0px 2px 2px rgb(102, 226, 235);
    transform: scale(1.01);
  }
  
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content,
  .checkbox {
    font-size: small;
    margin-bottom: 1.0rem;
    color: rgb(0, 174, 255);
    font-size: 12px;
  }
  
  #remember {
    font-size: 12px;
  }
  #register {
    /* padding: 5px; */
    font-weight: 400;
    font-family: 'Poppins', sans-serif;  
  }
  
  a {
    text-decoration: none;
  }
  
  #f-img {
    position: absolute;
    left: 59%;
    top: 32%;
    aspect-ratio: 1/1;
    width: 30rem;
    height: 30rem;
    filter: drop-shadow(0 1rem 0.75rem rgb(138, 201, 201));
  }
  footer {
    position: absolute;
    bottom: 0%;
    right: 2%;
    font-size: 10px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  
  }