<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meet Developers</title>
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>
    <main id="main">
    <div class="topnav">
        <h3 id="logo">Project Abstract</h3>
        {{!-- <a href="/">Home</a> --}}
        <a class="active" href="/admin-login">Admin Login</a>
            <a  href="/empinfo">Emp Details</a>
            <a  href="/empsalaryinfo">Emp Salary Details</a>
            <a  href="/logout">Logout</a>
            <a href="/admin-about">Project Details</a>
      </div>

      <div id="details">
        <h3 id="heading">Payroll Management System</h3>
        <hr>

        <p id="abstract">The <b>Payroll Management System</b> is a central system for any association.

          It will deal with the count of the Salary with rules which are suggested by the business diversely for each employee of the Administration. It reduces the manual work which is required to deal with the desk work and improve the dependability of the system. </p>
        <p id="abstract">
          <br> Employee Database And Payroll Management System” is designed to make the existing manual system automatic with the help of computerised equipment and full-edged computer software, fulfilling their requirements, so that their valuable data and information can be stored for a longer period with easy access and manipulation of the same. The required software is easily available and easy to work with. This web application can maintain and view computerised records without getting redundant entries. The project describes how to manage user data for good performance and provide better services for the client.
        </p>
        <hr>

        <h5 id="subhead">Group Members:</h5>
      </div>
          
          
          <div id="glass">
            <div id="maindiv">
                  <div class="appbox" id="sud">
                    <div class="applogo">
                      <img class="dp" src="/css/images/sud.png" alt="sudhanshu" />
                    </div>
                    <div class="apptext" id="sudt"><img id="lk" src="/css/images/linkedin.png" alt=""><a href="https://www.linkedin.com/in/sudhanshu-walzade-06b209191/" target="_blank">Sudhanshu Walzade</a></div>
                  </div>
        
                  <div class="appbox" id="athar">
                    <div class="applogo">
                      <img class="dp" src="/css/images/atharva.png" alt="atharvayadav" />
                    </div>
                    <div class="apptext"><img id="lk" src="/css/images/linkedin.png" alt=""><a href="https://www.linkedin.com/in/atharvayadav/" target="_blank">Atharva Yadav</a></div>  
                  </div>

                  <div class="appbox" id="raut">
                    <div class="applogo" >
                      <img class="dp" src="/css/images/raut.png" alt="raurshubham" />
                    </div>
                    <div class="apptext"><img id="lk" src="/css/images/linkedin.png" alt=""><a href="https://www.linkedin.com/in/shubham-raut-3b92901a6/" target="_blank">Shubham Raut</a></div>            
                    
                  </div>
                                  
              </div>
              <div id="credits">
                <h5 id="ak">Special Thanks : <a href="https://www.linkedin.com/in/akashgomsale/" target="_blank">Akash Gomsale</a></h5>
                <img id="lk" class="img" src="/css/images/linkedin.png" alt="linkedin">
              </div>
        </div>
    
        
    
        </div>
    </main>
</body>
</html>