<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Login</title>
    <link rel="stylesheet" href="/css/emp-login.css">
</head>
<body>
    <main id="main">
        <div class="topnav">
            <h3 id="logo">Employee Dashboard</h3>
            <a href="/index.html">Home</a>
            <a href="/admin.html">Admin Login</a>
            <a href="/">Project Details</a>
          </div>
          
          <div id="emp-data">

            <div id="table-div">
                <table>
                    <thead>
                        <tr>
                            
                            <th>Sr. No</th>
                            
                            <th>Name</th>
                            <th>Email</th>
                            <th>Contact No</th>
                            
                            <th>City</th>
                            
                            <th>Address</th>
                            <th>Designation</th>
                            <th>Salary</th>
                            <th>Description</th>
                            <!-- <th>Action</th> -->
                        </tr>
                    </thead>
            
                    <tbody>
                        <tr>
                            
                            <td>1</td>
                            <td>Akash Gomsale</td>
                            <td>gomsaleakash8@gmail.com</td>
                            <td>9860735197</td>
                            
                            <td>Pune</td>
                            
                            <td>A/P, Latur</td>
                            <td>SDE-1</td>
                            <td>1,00,000</td>
                            <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum, explicabo.</td>
                            <!-- <td><button id="btn">Action</button></td> -->
                        </tr>
                    </tbody>
            
                </table>

          </div>
    </main>
</body>
</html>