<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Employee</title>
    <link rel="stylesheet" href="/css/register.css" />
    <style>
         @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
        * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
        }



        html {
            font-size: 63.5%;
        }

        body {
             height: 100vh; 
            display: flex;
            flex-direction: column;
            background-color: white;
            /* background-color: #b0b67e; */
        }
        .row {
            margin: 0;
        }
        

        .main_menu{
            background-color: black;
        }
        .navbar {
            color: white;
            background-color: black;
            padding: 2rem 0;
        }
        .navbar li{
            margin-left: 2rem;
        }
        .navbar a{
            color: white;
            font-size: 1.8rem;
        }
        .navbar-toggler {
            background-color: grey;
        }


        .main-header{
            background-color: burlywood;
            height: 35%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

        }
        #navright{
            font-size: 14px;
        }
        
        thead{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            background-color: #04AA6D;
            color: white;
        }
        td{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        table,th,td{
            border: 1px solid rgb(0, 0, 0);
            border-collapse: collapse;
            padding: 1rem 0.5rem 1rem 0.5rem;
            text-align: center;
            vertical-align:middle;
            padding: 2rem 3rem;

        }
        tbody:hover {background-color: rgb(199, 235, 240);}
        #btn{
            padding: 4px 6px 4px 6px;
            background-color: rgb(231, 190, 55);
            border: 1px solid rgb(26, 26, 4);
            border-radius: 5px;
            color: rgb(10, 2, 2);
        }
        #btn:hover{
            background-color: rgb(167, 86, 11);
            color: aliceblue;
        }
        #table-div{
            overflow-x:scroll;
            overflow-y: auto;
        }

        .ttable{
            height: 82vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        th {
                font-size: 12px;
                padding: 26px;
                font-weight: bolder;
        }
        td {
            font-size: 12px;
            padding: 20px;
            font-weight: 600;
        }

    </style>
    
  </head>
  <body>
    <div class="topnav">
      <h3 id="logo">Admin Panel</h3>
      <a  href="/admin-login">Admin Login</a>
            <a  href="/empinfo">Emp Details</a>
            <a class="active" href="/empsalaryinfo">Emp Salary Details</a>
            <a  href="/logout">Logout</a>
            <a href="/admin-about">Project Details</a>
    </div>
  
         <div class="ttable">
        <div id="table-div">
            <table>
                <thead>
                    <tr>
                        <th>Sr. No</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>dept</th>
                        <th>Date of joining</th>
                        <th>Salary</th>
                        <th>Bonus</th>
                        <th>Tax</th>
                        <th> NA</th>
                    </tr>
                </thead>
        
                <tbody id="table-body">
                    {{!-- <tr>
                        <td><input type="checkbox" name="name" /></td>
                        <td>1</td>
                        <td><img src="" alt=""></td>
                        <td>Akash Gomsale</td>
                        <td><a href="mailto:gomsaleakash8@gmail.com">gomsaleakash8@gmail.com</a></td>
                        <td>9860735197</td>
                        <td>AkashGomsale.com</td>
                        <td>Pune</td>
                        <td>Maharashtra</td>
                        <td>India</td>
                        <td>A/P, Latur</td>
                        <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum, explicabo.</td>
                        <td><button id="btn">Action</button></td>
                        <td><button id="btn">up</button></td>
                    </tr> --}}
                </tbody>
        
            </table>
        </div>  
    </div>



    <script>

         fetch("http://localhost:1010/showdeductiondata").then(
        res => {
            res.json().then(
            data => {
                console.log(data);
                if (data.length > 0) {

                var temp = "";
                data.forEach((itemData) => {
                    temp += `
                        <tr>
                        <td> ${ itemData.E_id}</td>
                        <td>${itemData.E_name}</td>
                        <td>${itemData.E_email}</td>
                        <td>${itemData.Dept_name}</a></td>
                        <td> ${itemData.E_joindate}</a></td>
                        <td>${itemData.Salary}</td>
                        <td>${itemData.bonus}</td>
                        <td>${itemData.Tax}</td>
                         <td >
                            <form action="/delete" method="post">
                                <input name="c_id" value="${itemData.E_id}" type="hidden">
                                <button id="yes" class=" btn btn-outline-danger" type="submit">NA</button>
                            </form>
                        </td>
                         
                        
                    
                    `
                             
                });
                document.getElementById('table-body').innerHTML = temp;
                }
            }
            )
        }
        );
    </script>
  </body>
</html>
