<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Generate Report</title>
    <link rel="stylesheet" href="/css/salary-report.css" />
  </head>
  <body>
    <main id="main">
      <div class="topnav">
        <h3 id="logo">Generate Salary Report</h3>
        <a class="active" href="/admin-login">Admin Login</a>
            <a  href="/empinfo">Emp Details</a>
            <a  href="/empsalaryinfo">Emp Salary Details</a>
            <a  href="/logout">Logout</a>
            <a href="/admin-about">Project Details</a>
      </div>

      <div><img id="f-img" src="/css/images/salary-repo.svg" alt="" /></div>

      <form action="/salaryreport" method="post">
        <div class="container">
          {{!-- <label for="fname"> Employee ID <span>*</span></label>
          <input
            type="text"
            name="emp_id"
            placeholder="Enter Employee ID"
            required
          /> --}}
  
          <label for="mname"> Employee Name <span>*</span></label>
          <input
            type="text"
            name="E_name"
            placeholder="Enter Employee Name"
            required 
          /> 
  
          <!-- <label> Gender <span>*</span> </label>
          <select>
            <option value="select">Select from dropdown</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select> -->
  
          <!-- <label for="date">Date of Birth <span>*</span></label>
          <input type="date" required /> -->
  
          <label for="email">Email <span>*</span></label>
          <input
            type="text"
            placeholder="Enter Email"
            name="E_email"
            id="email"
            required 
          /> 
  
  
          <label> Role <span>*</span> </label>
          <select name="dept_name">
            <option value="SDE-1">SDE-1</option>
            <option value="SDE-2">SDE-2</option>
            <option value="SDE-3">SDE-3</option>
            <option value="Tester">Tester</option>
            <option value="Tech Writer">Tech Writer</option>
          </select>

          <label for="date">Date of Joining <span>*</span></label>
          <input type="date" name="E_joindate"  required /> 

          <label for="payroll" placeholder="Enter monthly Salary">Monthly salary  <span>*</span></label>
          <input type="number" name="salary" required/>

          <label for="payroll" placeholder="Enter monthly Salary">Bonus</label>
          <input type="number" name="bonus"/>

          <label for="payroll" placeholder="Enter monthly Salary">Tax + Other</label>
          <input type="number" name="Tax"/>
  

  
          <!-- <label for="psw">Password <span>*</span></label>
          <input
            type="password"
            placeholder="Enter Password"
            name="psw"
            id="psw"
            required
          />
  
          <label for="psw-repeat">Confirm Password <span>*</span></label>
          <input
            type="password"
            placeholder="Confirm Password"
            name="psw-repeat"
            id="psw-repeat"
            required
          /> -->
  
          <!-- <p id="instr">
            Please fill in this form to create an account.
            (<span>*</span>represents mandatory). By creating an account you
            agree to our <a href="google.com">Terms & Privacy</a>.
          </p> -->
  
          <button type="submit" class="registerbtn">Get Report</button>
        </div>
      </form>
      
      
    </main>
  </body>
</html>